<script src="{{ '/assets/js/main.min.js' | relative_url }}?v={{ site.time | date: '%s' }}"></script>
{% if page.author_profile or layout.author_profile %}
<script src="{{ '/assets/js/author-contact.js' | relative_url }}?v={{ site.time | date: '%s' }}" defer></script>
{% endif %}

{% include analytics.html %}
{% include fetch_google_scholar_stats.html %}
{% if page.publication_layout %}
<script src="{{ '/assets/js/publication-metrics.js' | relative_url }}?v={{ site.time | date: '%s' }}" defer></script>
<script src="{{ '/assets/js/publications.js' | relative_url }}?v={{ site.time | date: '%s' }}" defer></script>
{% endif %}
